<md-toolbar>
    <div class="md-toolbar-tools">
        <span>Database Initialization</span>
        <span flex></span>
    </div>
</md-toolbar>
<md-content md-theme="docs-dark" class="md-padding" layout="column" layout-sm="column" layout-align="center center">
    <md-button class="md-accent md-raised md-hue-1" ng-click="ctrl.initDatabase()">
        Init All Cards
    </md-button>
    <md-button class="md-accent md-raised md-hue-1" ng-click="ctrl.cleanCollection()">
        Clean All Cards
    </md-button>
</md-content>