<md-toolbar>
    <div class="md-toolbar-tools">
        <span>Select A card</span>
    </div>
</md-toolbar>
<div layout="column" class="chip-container">
    <md-chips ng-model="ctrl.selections" placeholder="senarios" readonly="true">
        <md-chip-template>
            <div ng-if="ctrl.isArray($chip)" ng-repeat="chip in $chip">
                {{chip.name}} * {{chip.count}}
            </div>

                <span ng-if="!ctrl.isArray($chip)">
                    {{$chip}}
                </span>
            <!--<span ng-if="$chip.name===undefined">{{$chip}}</span>-->
        </md-chip-template>
    </md-chips>
</div>
<md-content md-theme="docs-dark" class="md-padding" layout="column" layout-sm="column" layout-align="center center">

    <form id="card-select-form" name="uploadForm" layout layout-sm="column" layout-margin layout-align="center center">

        <md-select ng-if="ctrl.step === 1" placeholder="Hero Class" ng-model="ctrl.class" flex>
            <md-option value="General">General</md-option>
            <md-option value="Druid">Druid</md-option>
            <md-option value="Priest">Priest</md-option>
            <md-option value="Shaman">Shaman</md-option>
            <md-option value="Mage">Mage</md-option>
            <md-option value="Warrior">Warrior</md-option>
            <md-option value="Rogue">Rogue</md-option>
            <md-option value="Warlock">Warlock</md-option>
            <md-option value="Paladin">Paladin</md-option>
        </md-select>

        <card-selector ng-if="ctrl.step === 2" ng-model="ctrl.senarios" cards="ctrl.filterredCards" on-finish="ctrl.forward(val)"></card-selector>

        <md-select ng-if="ctrl.step === 3" placeholder="Story" ng-model="ctrl.story" flex>
            <md-option value="Common">Normal</md-option>
            <md-option value="Epic">Epic</md-option>
            <md-option value="Rare">Rare</md-option>
            <md-option value="Legendary">Legendary</md-option>
        </md-select>

        <md-button ng-if="ctrl.step === 4" ng-click="ctrl.restart()">Re-select</md-button>

    </form>
</md-content>