<md-toolbar>
    <div class="md-toolbar-tools">
        <span>Select A card</span>
        <span flex></span>
        <md-button class="md-accent md-raised md-hue-1" ng-click="ctrl.initDatabase()">
            Init
        </md-button>
        <md-button class="md-accent md-raised md-hue-1" ng-click="ctrl.cleanCollection()">
            Clean
        </md-button>
    </div>
</md-toolbar>
<md-content md-theme="docs-dark" class="md-padding" layout="column" layout-sm="column" layout-align="center center">
    <form id="card-select-form" name="uploadForm" layout layout-sm="column" layout-margin layout-align="center center">

        <card-selector ng-model="ctrl.senarios" on-finish="ctrl.forward(val)"></card-selector>

        <md-select placeholder="Name" ng-model="ctrl.card">
            <md-option ng-repeat="card in ctrl.filteredCards" ng-value="card">{{card.name}}</md-option>
        </md-select>

        <md-select placeholder="Rarity" ng-model="ctrl.filter.rarity" flex>
            <md-option value="Common">Normal</md-option>
            <md-option value="Epic">Epic</md-option>
            <md-option value="Rare">Rare</md-option>
            <md-option value="Legendary">Legendary</md-option>
        </md-select>
        <!--</md-input-container>-->

        <md-select placeholder="Class" ng-model="ctrl.filter.class" flex>
            <md-option value="General">General</md-option>
            <md-option value="Druid">Druid</md-option>
            <md-option value="Priest">Priest</md-option>
            <md-option value="Shaman">Shaman</md-option>
            <md-option value="Mage">Mage</md-option>
            <md-option value="Warrior">Warrior</md-option>
            <md-option value="Rogue">Rogue</md-option>
            <md-option value="Warlock">Warlock</md-option>
            <md-option value="Paladin">Paladin</md-option>
        </md-select>
    </form>
    <div layout="column">
        <md-chips ng-model="ctrl.selections" placeholder="senarios" readonly="ctrl.chipReadOnly">
            <!--<input type="number" ng-model="ctrl.numberBuffer" placeholder="Enter a number">-->
        </md-chips>
    </div>
</md-content>