<div layout="row" layout-margin layout-padding layout-fill>
    <div class="tab-container" flex="75">
        <md-tabs md-selected="ctrl.selectedIndex">
            <md-tab md-on-select="ctrl.onTabSelected()" ng-repeat = "tab in ctrl.tabs">
                <md-tab-label>
                    {{tab.title}}
                </md-tab-label>
                <md-tab-template>
                    <div csj-drop on-drop="ctrl.unselectCard(card)">
                        <md-grid-list
                                md-cols="4" md-row-height="4:5" md-gutter="20px">
                            <md-grid-tile ng-repeat="card in ctrl.currentCards"
                                          md-colspan="1">
                                <div layout="column" style="text-align: center; font-size: 20px">
                                    <div csj-drag card="card" ng-click="ctrl.selectCard(card)">
                                        <img ng-src="{{card.imageSrc}}" style="max-width: 80%"/>
                                    </div>
                                    <div> x {{card.available}}</div>
                                </div>

                                <!--<md-grid-tile-footer>-->
                                <!--<div>{{card.total}}</div>-->
                                <!--</md-grid-tile-footer>-->
                            </md-grid-tile>
                        </md-grid-list>
                    </div>
                </md-tab-template>
            </md-tab>
            <!--<md-tab md-on-select="ctrl.onTabSelected()">-->
                <!--<md-tab-label>-->
                    <!--{{ctrl.tabs[1].title}}-->
                <!--</md-tab-label>-->
                <!--<section>-->
                    <!--This is the content of tab2-->
                <!--</section>-->
            <!--</md-tab>-->

            <!--<md-tab md-on-select="ctrl.onTabSelected()">-->
                <!--<md-tab-label>-->
                    <!--{{ctrl.tabs[2].title}}-->
                <!--</md-tab-label>-->
                <!--<md-tab-template ng-bind="ctrl.tabs[2].content">-->

                <!--</md-tab-template>-->
            <!--</md-tab>-->

        </md-tabs>
        <div style="position: absolute; bottom: 5px; width:100%">
            <md-button class="md-fab md-hue-2" ng-click="ctrl.previousPage()" style="position: relative; left: 40%">Prev</md-button>
            <md-button class="md-fab md-primary" ng-click="ctrl.nextPage()" style="position: relative; left: 50%">Next</md-button>
        </div>
    </div>

    <div class="card-list" csj-drop on-drop="ctrl.selectCard(card)" flex="25">
        Selection List
        <md-list layout="column" layout-padding layout-wrap>
            <md-item class="selectedCard" ng-repeat="card in ctrl.selectedCards" ng-click="ctrl.unselectCard(card)">
                <div csj-drag card="card">{{card.name}} x {{card.selectedCount}}</div>
            </md-item>
        </md-list>
    </div>
</div>
